{% extends site.site_template %} 
{% block title %}Index{% endblock %} 
{% block html_head %}{% endblock %}
{% block html_content %}
<h2>Sample Page</h2>
<hr>
You have reached the sample page!
{% endblock %}